@keyframes rotate {
    100% { transform: rotate(360deg); }
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  .animate-rotate {
    animation: rotate 120s linear infinite;
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }